/* --------------------------------------- */
/* -------------GLOBAL-STYLES------------- */
/* --------------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

/* --------------------------------------- */
/* --------------RE-USEABLE--------------- */
/* --------------------------------------- */

.container {
  width: min(90%, 1128px);
  margin-inline: auto;
  margin: 20px auto;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  font-weight: 600;
  font-size: 250%;
  padding: 10px 0px;
}
.header2 {
  font-weight: 400;
  font-size: 250%;
  padding: 10px 0px;
  text-align: center;
}
.header3 {
  font-weight: 600;
  font-size: 125%;
  padding: 5px 0px;
}
.header3::after {
  border: 1px solid black;
}
.margin-top {
  margin-top: 20px;
}

/* --------------------------------------- */
/* ---------------BUTTONS---------------- */
/* --------------------------------------- */

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-back {
  background: #dc3545;
}

/* --------------------------------------- */
/* -----------------RECIPE----------------- */
/* --------------------------------------- */

.card {
  max-width: 1000px;
  width: 275px;
  height: 400px;
  margin: 20px 30px;
  padding: 15px 0px;
  border: 1px solid rgba(34, 36, 38, 0.1);
  /* margin: 20px auto; */
  /* padding: 20px 20px; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px rgb(33 33 33 / 20%);
  border-radius: 3px;
}

.recipe-desc {
  text-align: center;
  max-width: 220px;
  height: 70px;
}
.recipe-img {
  width: 240px;
  height: 180px;
}
.recipe-items {
  color: #fff;
  font-weight: 700;
  background-color: #4f5761;
  padding: 1px 4px;
  border-radius: 5px;
  margin: 0px 5px;
  margin-top: 10px;
  font-size: 80%;
}

/* --------------------------------------- */
/* -----------------FORM---------------- */
/* --------------------------------------- */

.form-div label {
  display: block;
  font-size: 125%;
}
.form-div input {
  width: 80%;
  height: 20px;
  margin: 5px 0px;
  padding: 3px 10px;
  font-size: 125%;
}

.btn-save input {
  background-color: #0026ca;
  height: 45px;
  width: 150px;
}

/* --------------------------------------- */
/* -----------------DETAILS---------------- */
/* --------------------------------------- */

.recipe-details {
  margin-top: 20px;
  background-color: #f0efef;
  max-width: 720px;
}

.details-desc {
  font-style: italic;
  font-size: 120%;
  text-align: center;
}

.details-items-container {
  width: 80%;
  margin-top: 20px;
}
.details-items-container div {
  border-bottom: 1px solid #000;
}
.details-items {
  padding: 0px 20px;
  margin: 5px;
}
.details-items span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}
.details-items span:nth-child(2) {
  font-weight: 600;
}

/* --------------------------------------- */
/* ---------------SPECIALS---------------- */
/* --------------------------------------- */

.special {
  color: #ef4565;
  font-size: 75%;
  width: 220px;
  padding: 0px 20px;
}
.special:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* --------------------------------------- */
/* ---------------LOADING---------------- */
/* --------------------------------------- */

.loading {
  margin-top: 20vh;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 830px) {
  .card {
    width: 275px;
    height: 400px;
    margin: 20px 30px;
    padding: 15px 0px;
  }

  .flex-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .flex-small {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .recipe-img {
    width: 240px;
    height: 180px;
  }
  .form-container {
    display: flex;
    width: 830px;
  }
  .form-div {
    padding: 0px 10px;
    width: 300px;
  }
  .details-img {
    width: 720px;
  }
  .details-items-container {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }
  .details-items-container div:first-child,
  .details-items-container div:nth-of-type(2) {
    border-right: 1px solid #000;
  }
  .details-items-container div {
    border-bottom: none;
  }
  .details-items {
    width: 160px;
  }
  @media only screen and (min-width: 1200px) {
    .form-container {
      display: flex;
      width: 1200px;
    }
    .form-div {
      padding: 0px 25px;
      width: 300px;
    }
  }
}
