body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}
.container {
  width: min(90%, 1128px);
  margin-inline: auto;
  margin: 20px auto;
}

.card {
  max-width: 1000px;
  width: 275px;
  height: 400px;
  margin: 20px 30px;
  padding: 15px 0px;
  border: 1px solid rgba(34, 36, 38, 0.1);
  /* margin: 20px auto; */
  /* padding: 20px 20px; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px rgb(33 33 33 / 20%);
  border-radius: 3px;
}
.card > div {
  padding: 3px 0px;
}
.recipe-details {
  margin-top: 20px;
}
.recipe-desc {
  text-align: center;
  max-width: 200px;
  height: 50px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-weight: 600;
  font-size: 250%;
  padding: 10px 0px;
}
.header2 {
  font-weight: 400;
  font-size: 250%;
  padding: 10px 0px;
}
.header3 {
  font-weight: 600;
  font-size: 125%;
  padding: 5px 0px;
}
.special {
  color: #ef4565;
  font-size: 75%;
  width: 200px;
  padding: 0px 20px;
}
.form-div label {
  display: block;
  font-size: 125%;
}
.form-div input {
  width: 80%;
  height: 20px;
  margin: 5px 0px;
  padding: 3px 10px;
  font-size: 125%;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-save input {
  background-color: blue;
  height: 45px;
  width: 150px;
}
.recipe-img {
  width: 240px;
  height: 180px;
}

.flex-large {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
  .card {
    width: 275px;
    height: 400px;
    margin: 20px 30px;
    padding: 15px 0px;
  }

  .flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .flex-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .recipe-img {
    width: 240px;
    height: 180px;
  }
  .form-container {
    display: flex;
  }
  .form-div {
    padding: 0px 25px;
  }
}
